#accordionContent {
  border-top: 1.48px solid transparent;
  border-image: var(--glasBorder) 1;
}

#accordionContent a {
  font-weight: 350;
}

#accordionContent a:hover,
#accordionContent a:focus,
#accordionContent a.active {
  border-radius: var(--base-size);
  background-color: var(--bg);
}
