:root.light #dropDown {
  background-color: var(--la);
}

:root.dark #dropDown {
  background-color: var(--ev);
}

:root.light #dropDown a {
  font-weight: 400;
}

:root.dark #dropDown a {
  font-weight: 350;
}

:root.light #dropDown a.active,
:root.dark #dropDown a.active {
  font-weight: 600;
}

#dropDown a:hover,
#dropDown a:focus,
#dropDown a.active {
  padding: 4px var(--base-size);
  border-radius: var(--base-size);
}

:root.dark #dropDown a.active {
  background-color: var(--bg);
}

:root.light #dropDown a.active {
  background-color: var(--ev);
}

:root.light #dropDown a:hover,
:root.light #dropDown a:focus,
:root.light #dropDown a.active {
  color: var(--w);
}

#dropDown a:hover,
#dropDown a:focus {
  background-color: var(--bgHover);
}

#iconNav .firstLevel:hover:before,
#iconNav .firstLevel:focus:before,
#iconNav .iconWrapper.active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  background: var(--bg);
  width: 52px;
  height: 52px;
  border-radius: var(--base-size);
  z-index: -1;
}
