footer a {
  color: var(--br);
  width: 16rem;
}

footer a:hover {
  text-decoration: underline;
}

/* Smartphones (Portrait) */
@media screen and (max-width: 768px) {
  footer a {
    width: 100%;
  }
}
