/* Topic Cards */
.subTopicCard {
  min-height: 320px;
  -webkit-transition: -webkit-transform 0.24s ease-in-out;
  -moz-transition: -moz-transform 0.24s ease-in-out;
  transition: transform 0.24s ease-in-out;
}

.subTopicCard:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

.subTopicCard h3::before {
  content: attr(topic-number);
  font-size: 160px;
  line-height: 1;
  font-weight: 800;
  position: absolute;
  right: 16px;
  top: -8px;
  opacity: 0.1;
  pointer-events: none;
}

/* Tablets (Landscape) */
@media screen and (max-width: 1024px) {
  .subTopicCard {
    min-height: auto;
    padding-bottom: 20px;
  }
}

/* Smartphones (Portrait) */
@media screen and (max-width: 768px) {
  .subTopicCard h3::before {
    font-size: 124px;
    right: 20px;
  }
}
