/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font */
@font-face {
  font-family: "CustomOpenSans";
  src: url("../font/OpenSans.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: "CustomOpenSans";
  src: url("../font/OpenSans-Italic.ttf") format("truetype");
  font-weight: 300 800;
  font-style: italic;
}

/* Colors  */
/* todo: add all colors */
:root {
  --bg: #77d1cb;
  --pink: #d177b3;
  --purple: #8377d1;
  --white: #f1f0f4;
  --dark: #292734;
  --whiteHover: #d4d2dd;
}

/* General */
* {
  font-family: "CustomOpenSans", sans-serif;
  font-weight: 400;
  font-size: calc(10px + 1vmin);
  color: var(--white);
}

.App {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

.img-container {
  overflow: hidden;
}

/* Layout */
header,
footer,
.Mainpage,
.SubTopicPage {
  width: 100%;
}

header,
footer {
  height: 6%;
}

footer a {
  font-size: calc(6px + 1vmin);
  color: var(--dark);
  width: 10rem;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}

.outerContainer,
section {
  padding: 70px 10px;
  width: 60vw;
  max-width: 1280px;
  margin: 0 auto;
}

/* Navigation */
header {
  color: var(--dark);
}

header nav a {
  margin: 0 0.75rem;
  color: var(--white);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:hover,
header nav a.active {
  color: var(--purple);
}

/* Mobile */
.nav {
  background-color: var(--dark);
  width: 15%;
}

.nav-btn {
  margin-top: 40px;
  font-weight: 600;
  font-size: 14px;
}

.nav-btn:hover {
  color: var(--pink);
}

/* Typo */
/* Todo: decide for one way of stlying headlines and text */
.mainTitle,
h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--white);
  padding-top: 70px;
}

.outerContainer h1::after {
  content: attr(data-number);
  font-size: 230px;
  font-weight: 800;
  position: absolute;
  left: 20px;
  top: -30px;
  opacity: 0.25;
  pointer-events: none;
}

.secondTitle,
h2 {
  font-size: 35px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.thirdTitle,
h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}

p,
li {
  font-size: calc(8px + 1vmin);
  line-height: 1.8;
  margin-bottom: 20px;
  max-width: 1080px;
}

.textSize {
  font-size: calc(8px + 1vmin);
  font-weight: 400;
}

.smallTextSize {
  font-size: calc(5px + 1vmin);
  font-weight: 400;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

/* to Top Button */
#toTopBtn {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background-color: var(--whiteHover);
  fill: var(--dark);
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  rotate: -90deg;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

#toTopBtn:hover {
  background-color: var(--white);
  transform: translateX(5px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

/* responsive */
@media screen and (max-width: 600px) {

  .text,
  header {
    margin: 0px 40px 100px 40px;
  }

  .h1 {
    font-size: calc(30px + 1vmin);
  }
}

@media screen and (max-width: 460px) {
  .text {
    margin: 0px 40px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  margin: 6px 0;
  transition: all 0.4s ease-in-out;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Custom transitions for the nav */
.transition-transform {
  transition: transform 0.4s;
}

.transition-opacity {
  transition: opacity 0.4s;
}