/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font */
@font-face {
  font-family: "CustomOpenSans";
  src: url("../font/OpenSans.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: "CustomOpenSans";
  src: url("../font/OpenSans-Italic.ttf") format("truetype");
  font-weight: 300 800;
  font-style: italic;
}

/* Root Variables - Color Scheme and Design Variables */
:root {
  /*Colors*/
  --tb: #77d1cb;
  --cb: #77a9d1;
  --ti: #8377d1;
  --fm: #c177d1;
  --sm: #d177b3;

  --br: #292734;
  --ev: #54506a;
  --fg: #b7b4c7;
  --la: #d4d2dd;
  --w: #f1f0f4;

   /* Shadows and Background */
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  --blur: blur(24px);
  --lGradient: linear-gradient(
    to top,
    var(--tb),
    var(--cb),
    var(--ti),
    var(--fm),
    var(--sm)
  );
  --rGradient: radial-gradient(
    circle,
    var(--tb),
    var(--cb),
    var(--ti),
    var(--fm),
    var(--sm)
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--br);
    --text: var(--w);
    --box: rgba(84, 80, 106, 0.72);
    --hover: var(--w);
    --glasBorder: linear-gradient(80deg, var(--fg), var(--ev) 40%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--la);
    --text: var(--br);
    --box: rgba(241, 240, 244, 0.64);
    --hover: var(--ev);
    --glasBorder: linear-gradient(80deg, #ffffff, var(--fg) 40%);
  }
}

/* General Styles */
* {
  font-family: "CustomOpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

img,
svg {
  fill: var(--text);
}

.img-container {
  overflow: hidden;
}

.circle,
.circle2 {
  position: fixed;
  border-radius: 100%;
  filter: blur(100px);
  opacity: 40%;
  z-index: -1;
}

.circle {
  right: 0;
  top: -10vw;
  width: 40vw;
  height: 40vw;
  background: var(--rGradient);
}

.circle2 {
  left: 0;
  bottom: -5vw;
  width: 35vw;
  height: 35vw;
  background: var(--lGradient);
}

/* Layout */
header,
footer,
.Modulepage,
.SubTopicPage {
  width: 100%;
}

footer a {
  color: var(--br);
  width: 10rem;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}

.outerContainer,
section {
  padding: 96px 0px;
  width: 60vw;
  max-width: 1080px;
  margin: 0 auto;
}

section.outerContainer {
  padding: 70px 0px;
}

/* Navigation */
header {
  border-bottom: 2px solid transparent;
  border-image: var(--glasBorder) 1;
  background-color: var(--box);
  backdrop-filter: var(--blur);
}

header nav a {
  margin: 0 0.75rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

header nav a:first-child {
  margin-left: 0;
}

/* Mobile */
.nav {
  background-color: var(--bg);
  width: 15%;
}

.nav-btn {
  margin-top: 40px;
  font-weight: 600;
  font-size: 14px;
}

.glassy-box {
  position: relative;
  padding: 2% 4%;
  background: var(--box);
  box-shadow: var(--shadow);
  border-radius: 40px;
  overflow: hidden;
}

.glassy-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: var(--glasBorder);
  z-index: -1;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Typo */
/* Todo: decide for one way of stlying headlines and text */
.mainTitle,
h1 {
  font-size: 60px;
  line-height: 1.35;
  font-weight: bold;
}

.outerContainer h1::after {
  content: attr(data-number);
  font-size: 230px;
  font-weight: 800;
  position: absolute;
  left: 20px;
  top: 5px;
  opacity: 0.25;
  pointer-events: none;
}

.secondTitle,
h2 {
  font-size: 35px;
  line-height: 1.35;
  font-weight: bold;
  margin-bottom: 30px;
}

.thirdTitle,
h3 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 15px;
}

p,
li {
  font-size: calc(8px + 1vmin);
  line-height: 1.8;
}
/* Abstand nach jedem <p> Element, wenn danach etwas anderes als <p>, <ul> oder <ol> folgt */
p:not(:last-child):not(:has(+ p)):not(:has(+ ul)):not(:has(+ ol)),
ol:not(:last-child):not(:has(+ p)):not(:has(+ ul)):not(:has(+ ol)),
ul:not(:last-child):not(:has(+ p)):not(:has(+ ul)):not(:has(+ ol)) {
  margin-bottom: 50px;
}

p + p {
  margin-top: 15px;
}

.textSize {
  font-size: calc(8px + 1vmin);
  font-weight: 400;
}

.smallTextSize {
  font-size: calc(5px + 1vmin);
  font-weight: 400;
}

b,
strong {
  font-weight: 600;
  font-size: inherit;
}

i {
  font-size: inherit;
}

ul,
ol {
  padding-left: 20px;
  margin: 20px 0;
}

ul {
  list-style: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: 10px !important;
}

ol li::marker {
  font-weight: bold;
}

a {
  font-size: inherit;
  font-weight: 600;
}

.inlineLink {
  position: relative;
  text-decoration: none;
}

.inlineLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.inlineLink:hover::after {
  width: 100%;
}

/* to Top Button */
#toTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--text);
  fill: var(--bg);
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  rotate: -90deg;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

#toTopBtn:hover {
  background-color: var(--la);
  transform: translateX(5px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  margin: 6px 0;
  transition: all 0.4s ease-in-out;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Custom transitions for the nav */
.transition-transform {
  transition: transform 0.4s;
}

.transition-opacity {
  transition: opacity 0.4s;
}

.special-text {
  background: linear-gradient(
    to bottom,
    rgba(230, 230, 230, 0.4),
    rgba(230, 230, 230, 0)
  );
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  min-height: 50px;
}

/* responsive */
@media screen and (max-width: 1280px) {
  .outerContainer,
  section {
    width: 90vw;
  }
}

/* Tablets (Landscape) */
@media screen and (max-width: 1024px) {
  .outerContainer,
  section {
    width: 100%;
    padding: 36px 24px;
  }
}

/* Smartphones (Portrait) */
@media screen and (max-width: 768px) {
  p,
  li,
  .smallTextSize {
    font-size: 16px !important;
  }

  h1 {
    font-size: calc(26px + 1vmin) !important;
  }

  h2 {
    font-size: calc(18px + 1vmin) !important;
  }

  h3 {
    font-size: calc(14px + 1vmin) !important;
  }

  h4 {
    font-size: calc(12px + 1vmin) !important;
  }
}
