/* Topic Cards */
.moduleCard {
  background: var(--white);
  color: var(--dark);
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.248);
}

.moduleCard h2 {
  transition: all 0.3s ease-in-out;
}

.moduleCard:hover h2 {
  transform: translateY(-2px);
}

.moduleCard img {
  transition: all 0.3s ease-in-out;
}

.moduleCard:hover img {
  transform: translateY(-2px);
}
