/* left polygons */
.clip-triangle-1 {
  clip-path: polygon(0 0, 15% 0, 20% 100%, 0% 100%);
  background-color: #77d1cb;
}

.clip-triangle-2 {
  clip-path: polygon(0 0, 20% 0, 25% 100%, 0% 100%);
  background-color: #8377d1;
}

.clip-triangle-3 {
  clip-path: polygon(0 0, 25% 0, 30% 100%, 0% 100%);
  background-color: #bc6ba1;
}

.clip-triangle-4 {
  clip-path: polygon(0 0, 30% 0, 35% 100%, 0% 100%);
  background-color: #d177b3;
}

/* right polygons */
.clip-text-triangle-1 {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 25% 100%);
  background-color: #77d1cb;
}

.clip-text-triangle-2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 30% 100%);
  background-color: #8377d1;
}

.clip-text-triangle-3 {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 35% 100%);
  background-color: #bc6ba1;
}

.clip-text-triangle-4 {
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 40% 100%);
  background-color: #d177b3;
}

.clip-text-triangle-1,
.clip-text-triangle-2,
.clip-text-triangle-3,
.clip-text-triangle-4 {
  transition: left 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 100%;
}

.show-text {
  left: 0;
}

.trennbereich-1 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 19.9% 0, 20.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(19.9% 0, 100% 0, 100% 100%, 20.1% 100%);
  z-index: 2;
}

.trennbereich-2 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 24.9% 0, 25.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(24.9% 0, 100% 0, 100% 100%, 25.1% 100%);
  z-index: 2;
}

.trennbereich-3 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 29.9% 0, 30.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(29.9% 0, 100% 0, 100% 100%, 30.1% 100%);
  z-index: 2;
}
