/* left polygons */
.clip_triangle_1 {
  clip-path: polygon(0 0, 15% 0, 20% 100%, 0% 100%);
  background-color: var(--tb);
}

.clip_triangle_2 {
  clip-path: polygon(0 0, 20% 0, 25% 100%, 0% 100%);
  background-color: var(--cb);
}

.clip_triangle_3 {
  clip-path: polygon(0 0, 25% 0, 30% 100%, 0% 100%);
  background-color: var(--fm);
}

.clip_triangle_4 {
  clip-path: polygon(0 0, 30% 0, 35% 100%, 0% 100%);
  background-color: var(--sm);
}

/* right polygons */
.clip_text_triangle_1 {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 25% 100%);
  background-color: var(--tb);
}

.clip_text_triangle_2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 30% 100%);
  background-color: var(--cb);
}

.clip_text_triangle_3 {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 35% 100%);
  background-color: var(--fm);
}

.clip_text_triangle_4 {
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 40% 100%);
  background-color: var(--sm);
}

.clip_text_triangle_1,
.clip_text_triangle_2,
.clip_text_triangle_3,
.clip_text_triangle_4 {
  transition: left 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 100%;
}

.show_text {
  left: 0;
}

.trennbereich_1 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 19.9% 0, 20.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich_1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(19.9% 0, 100% 0, 100% 100%, 20.1% 100%);
  z-index: 2;
}

.trennbereich_2 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 24.9% 0, 25.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich_2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(24.9% 0, 100% 0, 100% 100%, 25.1% 100%);
  z-index: 2;
}

.trennbereich_3 {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  transform: translateY(-50%);
  z-index: 3;
}

.trennbereich_3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 29.9% 0, 30.1% 100%, 0 100%);
  z-index: 2;
}

.trennbereich_3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d880;
  clip-path: polygon(29.9% 0, 100% 0, 100% 100%, 30.1% 100%);
  z-index: 2;
}
