.table_container {
  width: 100%;
  max-width: 960px;
  margin: var(--scale4) auto;
  border-radius: var(--scale2);
  break-inside: avoid;
}

.table {
  display: grid;
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--scale2);
  gap: 0 var(--scale2);
}

.table_row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  padding: var(--scale2) 0;
  align-items: stretch;
}

.header_row {
  font-weight: bold;
  color: var(--fg);
  border-radius: var(--scale2);
  height: 80px;
}

.table_cell {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  word-wrap: break-word;
  display: block;
  line-height: 1.5;
  height: 100%;
}

.header_row .table_cell {
  display: flex;
  align-items: center;
}

:global(:root.light) .header_row {
  color: var(--rb);
}

:global(:root.dark) .header_row {
  color: var(--w);
}

:global(:root.light) .background {
  background-color: rgba(var(--w-rgb), 0.56);
  color: var(--rb);
}

:global(:root.dark) .background {
  background-color: rgba(var(--ev-rgb), 0.56);
  color: var(--w);
}

.align_center {
  align-items: center;
}

.align_top {
  align-items: flex-start;
}

.table_row .table_cell:first-child {
  padding-left: var(--scale2);
}

.table_row .table_cell:last-child {
  padding-right: var(--scale2);
}

.table_cell img {
  max-width: 100%;
  height: auto;
  display: block;
}

.vertical_divider {
  width: 1px;
  background-color: var(--fg);
  opacity: 0.3;
  height: 100%;
  padding: var(--base-size) 0;
}
