#toTopBtn {
  position: fixed;
  bottom: var(--scale2);
  right: var(--scale2);
  background-color: var(--text);
  fill: var(--bg);
  cursor: pointer;
  padding: var(--base-size);
  border-radius: 50%;
  -webkit-box-shadow: var(--glasBoxShadow);
  -moz-box-shadow: var(--glasBoxShadow);
  box-shadow: var(--glasBoxShadow);
  width: var(--scale7);
  height: var(--scale7);
  rotate: -90deg;
  -webkit-transition: all 0.24s ease-in-out;
  -moz-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
  z-index: 1;
}

#toTopBtn:hover {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  transform: translateX(4px);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

/* Smartphones (Portrait) */
@media screen and (max-width: 768px) {
  #toTopBtn {
    width: var(--scale6);
    height: var(--scale6);
  }
}
