name: Generate a build and push to another branch

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'scripts/**',
      - 'public/**'
      - 'package.json'
      - 'pnpm-lock.yaml'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Install Puppeteer Browser
        run: pnpm exec puppeteer browsers install chrome

      - name: Build the project
        run: pnpm build

      - name: Start local Server
        run: |
          pnpm add -g serve
          serve -s dist -l 5173 &
          sleep 5

      - name: Generate PDF (CI Mode)
        run: node scripts/exportPDF.js ci

      - name: Copy PDF to dist
        run: |
          mkdir -p dist/PDF/
          cp -r public/PDF/* dist/PDF/

      - name: Publish the build folder to the build branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: build
          FOLDER: dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: ({sha}) {msg}"
